{% extends 'main.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>{% current_time '%b %d %Y' %}</h1>
    <h3> {{ next_sale|default_if_none:"" }} </h3>
    {% if posts %}
        <h1><strong><i>Новости</i></strong></h1>
            <hr>
            <br>
            <br>
            <br>
            <table>
                <tr>
                    <td><strong>Тема</strong></td>
                    <td><strong>Описание</strong></td>
                    <td><strong>Дата</strong></td>
                </tr>
                {% for post in posts %}
                <tr>
                    <td><a href="{{ post.pk }}"><strong>{{ post.title|censor|truncatechars:30 }}</strong></a></td>
                    <td>{{ post.text|censor|truncatechars:255 }}</td>
                    <td>{{post.date_in|date:'d M' }}</td>
                </tr>
                {% endfor %}
            </table>
        <br>
        <br>
        <br>
        <i>Всего новостей: {{ posts|length }}</i>
    {% else %}
        <h1>Новостей нет</h1>
    {% endif %}
{% endblock content %}